
@charset "utf-8";

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    color: #53514c;
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

body {
    color: #53514c;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

.box_ttl{
    border-left: 3px solid #000;
}






header {
    position: relative;
    height: 60px;
}

.logo {
    display: inline-block;
}
.logo img {
    width: 100%;
}

header .logo {
    position: absolute;
    top: 17px;
    left: 15px;
    width: 50px;
}

header nav {
    box-sizing: border-box;
    position: fixed;
    top: 60px;
    display: none;
    width: 100%;
    height: calc(100% - 60px);
    background: #fff;
    opacity: 0.9;
    /* 3. スライドメニューの場合 */
    display: block; 
    right: -100%;
    transition: right .5s;
    /* ここまで */
 }
/* 3. スライドメニューの場合 */
header nav.sp_open {
    right: 0;
}
/* ここまで */



header nav ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header nav ul li a {
    display: block;
    padding: 25px;
    border-radius: 5px;
    color: #666;
    font-size: 0.8rem;
    text-align: center;
    text-decoration: none;
}

#drawer_toggle {
    z-index: 200;
	box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
	display: inline-block;
    width: 60px;
    height: 60px;
}
#drawer_toggle span {
    position: absolute;
    top: 19px;
    left: 17px;
    display: inline-block;
    width: 30px;
    height: 3px;
    border-radius: 2px;
    background-color: #666;
    vertical-align: top;
}
#drawer_toggle span:nth-child(2) {
    margin-top: 10px;
}
#drawer_toggle span:last-child {
    margin-top: 20px;
}
#drawer_toggle.open span {
    top: 29px;
    left: 14px;
    width: 35px;
    margin: 0;
}
#drawer_toggle.open span:first-child {
    transform: rotate(45deg);
}
#drawer_toggle.open span:nth-child(2) {
    display: none;
}
#drawer_toggle.open span:last-child {
    transform: rotate(-45deg);
}




.button-blue {
    background-color: blue;
    color: #fff;
}
.button-yellow {
    background-color: yellow;
    color: #fff;
}
.button-orange {
    background-color: orange;
    color: #fff;
}




#key_visual {
    width: 100%;
    vertical-align: bottom;
}

#key_visual img{
    width: 100%;
    vertical-align: bottom;
}

main {
    width: 100%;
}

main h2 {
    height: 40px;
    padding-left: 15px;
    background-color: #b99565;
    line-height: 40px;
    color: #fff;
    font-weight: normal;
}

main .countainer {
    padding: 10px;
}

#information ul li {
    padding: 10px;
}

/* 偶数指定 */
#information ul li:nth-child(even) {
    background-color: #f5f3ef;
}

#information ul li time {
    font-size: 12px;
    margin-bottom: 10px;
    display: inline-block;
}

#information ul li p a{
    font-size: 14px;
    text-decoration: none;
}

#information ul li p::before {
    content: "▶︎";
    padding-right: 5px;
}

#gourmet article {
    margin-bottom: 25px;
    
}

#gourmet article h3 a{
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

#gourmet article p {
    font-size: 14px;
    line-height: 2em;
}

#gourmet article p::before {
    content: "-";
    padding: 0 10px;
}

#gourmet article figure {
    margin-bottom: 10px;
}

#gourmet article figure img {
    width: 100%;
    
}

#gourmet .area li {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #b99565;
    color: #fff;
    font-size: 10px;
}

#gourmet .area li + li {
    margin-left: 5px;
}

#gourmet .box_ttl {
    padding: 5px 0 5px 10px;
    border-left: 4px solid #412806;
    margin-bottom: 10px;
}

#gourmet .box_ttl h3 {
    margin-bottom: 10px;
}

footer {
    width: 100%;
    text-align: center;
}

footer ul {
    padding: 30px 0;
    background-color: #53514c;
}

footer ul li {
    width: 280px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    border: 1px solid #fff;
    border-radius: 2px;
    font-size: 14px;
}

/* 隣接した2つ目のli */
footer ul li + li {
    margin-top: 5px;
}

footer ul li a {
    display: block;
    color: #ccc;
    text-decoration: none;
}

footer .logo {
    width: 160px;
    margin: 15px 0 10px;
}

footer p small {
    height: 30px;
    line-height: 30px;
    font-size: 10px;
}

@media (min-width: 768px) {
    html {
        font-size: 12px;
    }
    header {
        height: 80px;
    }
    header h1 {
        top: 24px;
        left: 25px;
    }
    header .logo img {
        width: 150px;
    }
    header nav {
        display: inline-block;
        position: absolute;
        top: 22px;
        right: 0;
        width: auto;
        height: auto;
        margin-right: 15px;
        font-size: 1.4rem;
        opacity: 1;
    }
    header nav ul {
        position: relative;
        top: 0;
        left: 0;
        transform: unset;
    }
    header nav ul li {
        display: inline-block;
        height: 35px;
        border-radius: 2px;
		line-height: 35px;
    }
    header nav ul li a {
        display: block;
		padding: 0 15px;
        color: #9c9b98;
        font-size: unset;
        text-decoration: none;
        transition: color .3s;
    }
    header nav ul li:hover {
        background-color: #b99566;
    }
    header nav ul li:hover a {
    	color: #fff;
    }
    #drawer_toggle {
        display: none;
    }
    #key_visual {
        padding-top: 80px;
        margin-bottom: 30px;
    }
    main {
        padding-bottom: 50px;
    }
    main h2 {
        padding-left: 20px;
    }
    #information {
        margin-bottom: 50px;
    }
    #information ul {
        font-size: 1.2rem;
    }
    #information ul li time {
        display: inline-block;
        padding-right: 10px;
    }
    #information ul li p {
        display: inline-block;
        line-height: 1;
    }
    #information ul li p::before {
        margin-right: 10px;
        vertical-align: middle;
    }
    #gourmet .container {
		justify-content: space-between;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
    }
    #gourmet article {
        width: calc(50% - 5px);
        padding: 0;
    }
    footer ul li {
        display: inline-block;
        width: 120px;
        margin: 0 10px;
    }
    footer ul li a {
        color: #fff;
    }
    footer .logo {
        margin: 20px 0 5px;
    }
    footer .logo img {
        width: 200px;
    }
}

@media (min-width: 1000px) {
    main {
        width: 1000px;
        margin: 0 auto;
    }
    #gourmet .container {
        padding: 10px 0;
    }
    #gourmet article {
        width: calc(50% - 5px);
    }
}










/* header {
    z-index: 100;	
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #fff;
}
header h1 {
    position: absolute;
    top: 18px;
    left: 15px;
}
header .logo img {
    width: 200px;
}
header nav {
    box-sizing: border-box;
    position: fixed;
    top: 60px;
    display: none;
    width: 100%;
    height: calc(100% - 60px);
    background: #fff;
    opacity: 0.9; */
    /* 3. スライドメニューの場合 */
    /* display: block;
    right: -100%;
    transition: right .5s; */
    /* ここまで */
/* } */
/* 3. スライドメニューの場合 */
/* header nav.sp_open {
    right: 0;
} */
/* ここまで */
/* header nav ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
header nav ul li a {
    display: block;
    padding: 25px;
    border-radius: 5px;
    color: #666;
    font-size: 1.8rem;
    text-align: center;
    text-decoration: none;
}
#drawer_toggle {
    z-index: 200;
	box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
	display: inline-block;
    width: 60px;
    height: 60px;
}
#drawer_toggle span {
    position: absolute;
    top: 19px;
    left: 17px;
    display: inline-block;
    width: 30px;
    height: 3px;
    border-radius: 2px;
    background-color: #666;
    vertical-align: top;
}
#drawer_toggle span:nth-child(2) {
    margin-top: 10px;
}
#drawer_toggle span:last-child {
    margin-top: 20px;
}
#drawer_toggle.open span {
    top: 29px;
    left: 14px;
    width: 35px;
    margin: 0;
}
#drawer_toggle.open span:first-child {
    transform: rotate(45deg);
}
#drawer_toggle.open span:nth-child(2) {
    display: none;
}
#drawer_toggle.open span:last-child {
    transform: rotate(-45deg);
}
main {
    font-size: 1.6rem;
}
main h2 {
	box-sizing: border-box;
    width: 100%;
    padding-left: 15px;
    background-color: #b99566;
    color: #fff;
    font-weight: normal;
    line-height: 40px;
}
main h2 span {
    display: none;
}
#key_visual {
    width: 100%;
    max-width: 1500px;
    padding-top: 60px;
    margin: 0 auto;
}
#key_visual img {
    width: 100%;
    vertical-align: bottom;
}
#information ul {
    list-style: none;
    font-size: 1.4rem;
}
#information ul li {
    padding: 5px 10px;
}
#information ul li:nth-child(even) {
    background-color: #f5f3f0;
}
#information ul li time {
    display: block;
    margin: 5px 0;
    font-size: 1.2rem;
}
#information ul li p {
    line-height: 1.5;
}
#information ul li p::before {
    content: "▶︎";
    margin-right: 5px;
    font-size: 1.2rem;
    vertical-align: top;
}
.container {
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}
#gourmet .container {
    padding: 10px;
}
#gourmet h3 {
    margin-bottom: 7px;
}
#gourmet article {
    width: 100%;
    margin-bottom: 30px;
}
#gourmet article figure {
    margin-bottom: 10px;
}
#gourmet article figure img {
    width: 100%;
}
#gourmet article p {
    font-size: 1.4rem;
}
#gourmet article p::before {
    content: "-";
    padding: 0 10px;
}
#gourmet .box_ttl {
    padding: 5px 0 5px 10px;
    border-left: 4px solid #402805;
    margin-bottom: 10px;
}
#gourmet .area li {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 4px;
    margin-right: 5px;
    background-color: #b99566;
    color: #FFF;
    font-size: 1rem;
    line-height: 1;
    text-align: center;
}
footer {
    text-align: center;
}
footer .logo {
    margin: 15px 0 10px;
}
footer .logo img {
    width: 160px;
}
footer ul {
    padding: 20px 0;
    background-color: #54514c;
    text-align: center;
}
footer ul li {
    width: 280px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 2px;
    margin: 10px auto;
    font-size: 1.4rem;
    line-height: 30px;
    text-decoration: none;
}
footer ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    transition: color .3s;
}
footer ul li a:hover {
    background-color: #fff;
    color: #54514c;
}
footer p {
    text-align: center;
}
footer p small {
    font-size: 1rem;
    line-height: 3em;
}

@media (min-width: 768px) {
    html {
        font-size: 12px;
    }
    header {
        height: 80px;
    }
    header h1 {
        top: 24px;
        left: 25px;
    }
    header .logo img {
        width: 250px;
    }
    header nav {
        display: inline-block;
        position: absolute;
        top: 22px;
        right: 0;
        width: auto;
        height: auto;
        margin-right: 15px;
        font-size: 1.4rem;
        opacity: 1;
    }
    header nav ul {
        position: relative;
        top: 0;
        left: 0;
        transform: unset;
    }
    header nav ul li {
        display: inline-block;
        height: 35px;
        border-radius: 2px;
		line-height: 35px;
    }
    header nav ul li a {
        display: block;
		padding: 0 15px;
        color: #9c9b98;
        font-size: unset;
        text-decoration: none;
        transition: color .3s;
    }
    header nav ul li:hover {
        background-color: #b99566;
    }
    header nav ul li:hover a {
    	color: #fff;
    }
    #drawer_toggle {
        display: none;
    }
    #key_visual {
        padding-top: 80px;
        margin-bottom: 30px;
    }
    main {
        padding-bottom: 50px;
    }
    main h2 {
        padding-left: 20px;
    }
    #information {
        margin-bottom: 50px;
    }
    #information ul {
        font-size: 1.2rem;
    }
    #information ul li time {
        display: inline-block;
        padding-right: 10px;
    }
    #information ul li p {
        display: inline-block;
        line-height: 1;
    }
    #information ul li p::before {
        margin-right: 10px;
        vertical-align: middle;
    }
    #gourmet .container {
		justify-content: space-between;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
    }
    #gourmet article {
        width: calc(50% - 5px);
        padding: 0;
    }
    footer ul li {
        display: inline-block;
        width: 120px;
        margin: 0 10px;
    }
    footer ul li a {
        color: #fff;
    }
    footer .logo {
        margin: 20px 0 5px;
    }
    footer .logo img {
        width: 200px;
    }
}

@media (min-width: 1000px) {
    main {
        width: 1000px;
        margin: 0 auto;
    }
    #gourmet .container {
        padding: 10px 0;
    }
    #gourmet article {
        width: calc(50% - 5px);
    }
} */









































